@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1A1A1A;
}

body, 
input, 
button {
  font-family: 'Roboto', sans-serif;
}